<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"  thread-count="2">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="RegisterAndVerifyDressesTests">
        <classes>
           <class name="RegisterAndVerifyDressesTests">
            </class>
        </classes>
    </test>
    <test  name="VerifyBestSellersCategoryTests">
        <classes>
           <class name="VerifyBestSellersCategoryTests">
            </class>
        </classes>
    </test>
    <test  name="VerifyPopularCategoryTests">
        <classes>
            <class name="VerifyPopularCategoryTests">
            </class>
        </classes>
    </test>
</suite>